<!DOCTYPE html>
<html>
    <head>
        <title>About HBS</title>
        <link rel="stylesheet" href="/css/styles.css">
         <link rel="icon" href="/img/weather-icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by shalaka.It uses data from mapbox.com and darksky.net!</p>
            <img src="/img/download.jpeg" alt="">
            <p>Created by {{name}}</p>
        </div>
        
         {{>footer}}
    </body>
</html>